<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/cart.css" >
</head>
<body>
<div class="cart">
    <div class="cart-child">
        <div th:replace="~{User-view/fragment/header.html :: div}"></div>
        <div class="shopping-cart">
            <span>Shopping Cart</span>
        </div>
    </div>
    <div class="cart1">
        <div class="cart-item">
            <div class="cart-infor row">
                <div class="list-product-cart col-lg-8">
                    <div class="back-home">
                        <a th:href="@{/shop}">
                            <img src="/public/epback.svg">
                        </a>
                        <a th:href="@{/shop}">
                            <span>Back to shop</span>
                        </a>
                    </div>
                    <div class="table-cart-product">
                        <div class="title-table-cart-product row">
                            <div class="all-product-cart-product col-lg-5">
                                Product
                            </div>
                            <div class="price-cart-product col-lg-2">
                                Price
                            </div>
                            <div class="quantity-cart-product col-lg-2">
                                Quantity
                            </div>
                            <div class="total-cart-product col-lg-2">
                                Total
                            </div>
                        </div>
                        <div class="body-table-cart-product row">
                            <div class="infor-cart-product col-lg-5 row">
                                <div class="pic col-lg-4">
                                    <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                                </div>
                                <div class="name-book col-lg-8">
                                    <p class="name">Name of book</p>
                                </div>
                            </div>
                            <div class="price-product col-lg-1">
                                Price
                            </div>
                            <div class="quantity-product col-lg-2">
                                <div class="quantity-control" data-quantity="">
                                    <button class="quantity-btn" data-quantity-minus=""><svg viewBox="0 0 409.6 409.6">
                                        <g>
                                            <g>
                                                <path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z" />
                                            </g>
                                        </g>
                                    </svg></button>
                                    <input type="number" class="quantity-input" data-quantity-target="" value="1" step="1" min="1" max="" name="quantity">
                                    <button class="quantity-btn" data-quantity-plus=""><svg viewBox="0 0 426.66667 426.66667">
                                        <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" /></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="total-product col-lg-2">
                                Total
                            </div>
                            <div class="delete-product col-lg-1">
                                <a href=""><i class="fa fa-close"></i></a>
                            </div>
                            <hr class="cart-hr">
                        </div>
                        <div class="body-table-cart-product row">
                            <div class="infor-cart-product col-lg-5 row">
                                <div class="pic col-lg-4">
                                    <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                                </div>
                                <div class="name-book col-lg-8">
                                    <p class="name">Name of book</p>
                                </div>
                            </div>
                            <div class="price-product col-lg-1">
                                Price
                            </div>
                            <div class="quantity-product col-lg-2">
                                <div class="quantity-control" data-quantity="">
                                    <button class="quantity-btn" data-quantity-minus=""><svg viewBox="0 0 409.6 409.6">
                                        <g>
                                            <g>
                                                <path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z" />
                                            </g>
                                        </g>
                                    </svg></button>
                                    <input type="number" class="quantity-input" data-quantity-target="" value="1" step="1" min="1" max="" name="quantity">
                                    <button class="quantity-btn" data-quantity-plus=""><svg viewBox="0 0 426.66667 426.66667">
                                        <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" /></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="total-product col-lg-2">
                                Total
                            </div>
                            <div class="delete-product col-lg-1">
                                <a href=""><i class="fa fa-close"></i></a>
                            </div>
                            <hr class="cart-hr">
                        </div>
                        <div class="body-table-cart-product row">
                            <div class="infor-cart-product col-lg-5 row">
                                <div class="pic col-lg-4">
                                    <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                                </div>
                                <div class="name-book col-lg-8">
                                    <p class="name">Name of book</p>
                                </div>
                            </div>
                            <div class="price-product col-lg-1">
                                Price
                            </div>
                            <div class="quantity-product col-lg-2">
                                <div class="quantity-control" data-quantity="">
                                    <button class="quantity-btn" data-quantity-minus=""><svg viewBox="0 0 409.6 409.6">
                                        <g>
                                            <g>
                                                <path d="M392.533,187.733H17.067C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h375.467 c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z" />
                                            </g>
                                        </g>
                                    </svg></button>
                                    <input type="number" class="quantity-input" data-quantity-target="" value="1" step="1" min="1" max="" name="quantity">
                                    <button class="quantity-btn" data-quantity-plus=""><svg viewBox="0 0 426.66667 426.66667">
                                        <path d="m405.332031 192h-170.664062v-170.667969c0-11.773437-9.558594-21.332031-21.335938-21.332031-11.773437 0-21.332031 9.558594-21.332031 21.332031v170.667969h-170.667969c-11.773437 0-21.332031 9.558594-21.332031 21.332031 0 11.777344 9.558594 21.335938 21.332031 21.335938h170.667969v170.664062c0 11.777344 9.558594 21.335938 21.332031 21.335938 11.777344 0 21.335938-9.558594 21.335938-21.335938v-170.664062h170.664062c11.777344 0 21.335938-9.558594 21.335938-21.335938 0-11.773437-9.558594-21.332031-21.335938-21.332031zm0 0" /></svg>
                                    </button>
                                </div>
                            </div>
                            <div class="total-product col-lg-2">
                                Total
                            </div>
                            <div class="delete-product col-lg-1">
                                <a href=""><i class="fa fa-close"></i></a>
                            </div>
                            <hr class="cart-hr">
                        </div>
                    </div>
                </div>
                <div class="cart-total col-lg-3">
                    <div class="cart-inner">
                        <p class="cart-total">Cart Total</p>
                        <div class="infor-cart-total row">
                            <div class="total-amount-price col-lg-5">
                                Total amount
                            </div>
                            <div class="price-cart-total col-lg-5">
                                000 đ
                            </div>
                        </div>
                        <a class="btn-checkout" th:href="@{/checkout}">
                            PROCEED TO CHECKOUT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
</body>
</html>