<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
  <link type="text/css" rel="stylesheet" href="/css/contact.css" >
</head>
<body>
<div class="about-us-contact-us">
  <div class="about-us-contact-us-child">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="contact-us">
      <span>Contact us</span>
    </div>
  </div>

  <div class="body">
    <div class="group-child">
      <form th:action="@{/saveMsg}" class="form-contact" method="post" th:object="${contact}">
        <span class="error1" th:if="${!#strings.isEmpty(message)}" th:text="${message}" style="display: none"></span>
        <div class="rectangle-parent">
          <input class="email-confirm" th:field="*{fullName}" type="text" placeholder="Full name"/>
          <span class="error" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
        </div>
        <div class="rectangle-parent">
          <input class="email-confirm" type="text" th:field="*{phoneNumber}" placeholder="Phone number"/>
          <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>
        <div class="rectangle-parent">
          <input class="email-confirm" type="text" th:field="*{email}" placeholder="Email"/>
          <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="rectangle-parent">
          <input class="email-confirm" type="text" th:field="*{subject}" placeholder="Subject"/>
          <span class="error" th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}"></span>
        </div>
        <div class="rectangle-parent">
          <textarea class="email-confirm"  th:field="*{message}" placeholder="Message" rows="9"></textarea>
          <span class="error" th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></span>
        </div>

        <button type="submit" class="btn btn-send">Send Message</button>
      </form>

      <div class="row contact">
        <div class="col-lg-4 phone">
          <img class="phone-icon" alt="" src="/public/phphonelight1.svg"/>
          <div class="phone-detail">(+84) 964645135</div>
        </div>
        <div class="col-lg-4 mail">
          <img class="mail-icon" alt="" src="/public/materialsymbolsmailoutline1.svg"/>
          <a class="mail-detail" href="mailto:strangerbook@gmail.com" target="_blank">
            strangerbook@gmail.com
          </a>
        </div>
        <div class="col-lg-4 address">
          <img class="address-icon" alt="" src="/public/mdiaddressmarker1.svg"/>
          <div class="address-detail">
            <p class="district">12 District, Ho Chi Minh City, Viet Nam</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
  var notificationSpan = document.querySelector('.error1');
        var notificationMessage = notificationSpan.textContent ;

        if(notificationMessage.trim() !== '') {
            Swal.fire({
                icon: "success",
                title: notificationMessage
            });
        }
</script>
</body>
</html>