<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forget Password</title>
    <th:block th:replace="~{User-view/style/user-css :: html}"></th:block>
    <link rel="stylesheet" href="/css/SignInTestSignInWithGoogle.css" type="text/css">
</head>
<body>
    <div class="sign-in-test-sign-in-with-goo1">
        <div class="sign-in-test-sign-in-with-goo-child11">
            <img class="sign-in-test-sign-in-with-goo-child2" alt="" src="/public/Screenshot_2023-10-01_145603-removebg-preview.png" />
            <div class="welcome-back1">Did you forget your password?</div>
            <div class="sign-in-to1">Please give me your email</div>

            <form th:action="@{/resetPassword}" method="post" id="loginForm" class="form-login">
                <span class="error" th:if="${!#strings.isEmpty(message)}" th:text="${message}"></span>
                <div class="rectangle-parent1">
                    <input name="email" class="email1" placeholder="Email"/>
                    <span class="error" th:if="${notFoundEmail != null}" th:text="${notFoundEmail}" style="display: none"></span>
                    <span class="success" th:if="${emailUpdate != null}" th:text="${emailUpdate}" style="display: none"></span>
                </div>
                <div class="vector-group">
                    <button type="submit" class="btn login1">Send</button>
                </div>
            </form>
        </div>
    </div>
<th:block th:replace="~{User-view/style/user-scr :: html}"></th:block>
    <script>
        /*<![CDATA[*/
        /* Thymeleaf code to check if the message is not empty and display a Swal alert */
        var errorSpan = document.querySelector('.error');
        var errorMessage = errorSpan.textContent ;

        if(errorMessage.trim() !== '') {
            Swal.fire({
                icon: "info",
                title: errorMessage
            });
        }
        var notificationSpan = document.querySelector('.success');
        var notificationMessage = errorSpan.textContent ;

        if(notificationMessage.trim() !== '') {
            Swal.fire({
                icon: "info",
                title: notificationMessage
            });
        }
        /*]]>*/
    </script>
</body>
</html>