<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stranger Bookstore</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
</head>
<body>
<div class="home-after-login">
    <div class="home-after-login-child">
        <div th:replace="~{User-view/fragment/header.html :: div}"></div>
        <!--START "INFOR WEBSITE" -->
        <div class="infor row">
            <div class="welcome-infor col-lg-6">
                <div class="description-of-stranger">
                    <div class="welcome-to-stranger">Welcome to Stranger Bookstore</div>
                    <p>
                        Stranger Bookstore is an online book-selling website where you can find thousands of books from different genres.
                        With a friendly and easy-to-use interface, Stranger Bookstore offers a great online book-shopping experience for readers...
                    </p>
                    <a th:href="@{/shop}" class="rectangle-icon">
                        Show more
                    </a>
                </div>
            </div>
            <div class="intro-book col-lg-6">
                <div class="book-introduce">
                    <div class="infor-child2">
                        <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                    </div>
                </div>
                <div class="book-introduce1">
                    <div class="infor-child2">
                        <img src="/img/product_img/nhung-giac-mo-o-tiem-sach-bia-truoc.jpg" alt="">
                    </div>
                </div>
                <div class="book-introduce2">
                    <div class="infor-child2">
                        <img src="/img/product_img/thien-tai-ben-trai-ke-dien-ben-phai-bia-truoc.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--END "INFOR WEBSITE" -->
    <!--START "THE BEST SELLER BOOK" -->
    <div class="best-seller">
        <div class="the-best-seller">THE BEST SELLER BOOKS</div>
        <div class="container seller-list row">
            <div class="book-seller col-lg-4 col-md-6 col-sm-6" th:each="product : ${listProduct}">
                <a th:href="@{/productDetail(productId=${product.productId})}" class="best-seller-child">
                    <img th:src="@{'/product_img/'+${product.product_img}}" th:alt="${product.productName}">
                </a>
                <a th:href="@{/productDetail(productId=${product.productId})}" class="name-of-book" th:text="${product.productName}"></a>
            </div>
        </div>
    </div>
    <!--END "THE BEST SELLER BOOK" -->
    <!--START "ABOUT US" -->
    <div class="about-us1">
        <div class="about-us-child">
            <div class="about-us2">ABOUT US</div>
            <div class="infor-about row">
                <div class="about-for-logo col-lg-6">
                    <div class="about-us-inner">
                        <a th:href="@{/about}">
                            <img src="/images/icon/2.2.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="about-summary col-lg-6">
                    <div class="information-of-website1">
                        <p>
                            Stranger Bookstore is an online book-selling website where you can find thousands of books from different genres.
                            With a friendly and easy-to-use interface, Stranger Bookstore offers a great online book-shopping experience for readers.
                        </p>
                        <p>
                            With a founding team passionate about books, Stranger Bookstore always wants to bring convenience and diversity to the reading community.
                            Having invested a lot of time and effort, Stranger Bookstore built a high-quality online book-shopping platform...
                        </p>
                    </div>
                    <a th:href="@{/about}" class="about-us-item">
                        Show more
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END "ABOUT US" -->
    <!--START "NEWS" -->
    <div class="news1">
        <div class="news2">NEWS</div>
        <div class="news-list row">
            <div class="news-list-content col-lg-4">
                <div class="news-child">
                    <a href="">
                        <img src="/img/Logo Templates from GraphicRiver.jpg" alt="">
                        <div class="overlay">
                            <div class="title">Your Text Here</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-list-content col-lg-4">
                <div class="news-child">
                    <a href="">
                        <img src="/img/Logo Templates from GraphicRiver.jpg" alt="">
                        <div class="overlay">
                            <div class="title">Your Text Here</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-list-content col-lg-4">
                <div class="news-child">
                    <a href="">
                        <img src="/img/Logo Templates from GraphicRiver.jpg" alt="">
                        <div class="overlay">
                            <div class="title">Your Text Here</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--END "NEWS" -->
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
</body>
</html>