<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Detail</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/my-order.css" >
    <link type="text/css" rel="stylesheet" href="/css/order-detail.css" >
</head>
<body>
<div class="my-order">
    <div class="my-order-show-child">
        <div th:replace="~{User-view/fragment/header.html :: div}"></div>
        <div class="my-order-text">
            <span>Order Detail</span>
        </div>
    </div>
    <div class="my-order-list row">
        <div class="status-order col-lg-3">
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li class=" has-sub">
                        <a class="js-arrow" th:href="@{/myOrder/1?statusId=all}">
                            All Order
                        </a>
                    </li>
                    <li class=" has-sub" th:each="status : ${listStatus}">
                        <a class="js-arrow" th:onclick="'window.location.href = \'' + @{/getByStatusID(statusId=${status.statusId})} + '\''">
                            <span th:text="${status.statusName}"></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="order-hr col-lg-1">
            <div class="shop-categories-show-child4"></div>
        </div>
        <div class="order-list col-lg-8">
            <div class="group-container">
                <div class="address-payment row">
                    <div class="check-out-child1 col-lg-6">
                        <span class="my-order1">DELIVERY ADDRESS</span>
                        <div class="address-body">
                            <p class="recipient-name" th:text="${shipInfor.recipientFullName}"></p>
                            <p class="address-detail" th:text="${shipInfor.addressDetail}"></p>
                            <p class="recipient-phone" th:text="${shipInfor.recipientPhoneNumber}"></p>
                        </div>
                    </div>
                    <div class="check-out-child1 col-lg-5">
                        <span class="my-order1">PAYMENT METHOD</span>
                        <div class="address-body">
                            <p class="address-detail" th:text="${orderDetail.order.paymentMethod}"></p>
                        </div>
                    </div>
                </div>
                <div class="customer-order-list">
                    <div class="customer-order-status-order">
                        <span>Order Status: </span><span th:text="${orderDetail.order.statusOrders.statusName}"></span>
                    </div>
                    <hr class="customer-order-hr">
                    <div class="customer-order-product-list row">
                        <div class="customer-order-pic col-lg-2">
                            <img  th:src="@{'/product_img/'+${orderDetail.product.product_img}}" th:alt="${orderDetail.product.productName}">
                        </div>
                        <div class="customer-order-name-qty col-lg-5">
                            <p class="customer-order-name" th:text="${orderDetail.product.productName}"></p>
                            <p class="customer-order-qty" th:text="${orderDetail.quantity}"></p>
                        </div>
                        <div class="customer-order-price col-lg-2">
                            <span th:text="${#numbers.formatDecimal(orderDetail.product.price, 0, 'COMMA', 0 , 'POINT')} + ' đ'"></span>
                        </div>
                        <div class="customer-order-total col-lg-2">
                            <span th:text="${#numbers.formatDecimal(orderDetail.amount, 0, 'COMMA', 0 , 'POINT')} + ' đ'"></span>
                        </div>
                    </div>
                    <hr class="customer-order-hr">
                    <div class="customer-order-btn">
                        <div class="customer-order-total-amount row">
                            <div class="customer-order-total-amount-text col-lg-8">
                                <span>TOTAL AMOUNT</span>
                            </div>
                            <div class="customer-order-total-amount-price col-lg-4">
                                <span th:text="${#numbers.formatDecimal(orderDetail.amount, 0, 'COMMA', 0 , 'POINT')} + ' đ'"> </span>
                            </div>
                        </div>
                        <div class="customer-order-order-detail row">
                            <a data-bs-toggle="modal" data-bs-target="#exampleModal" class="customer-order-detail col-lg-4"
                               th:if="${orderDetail.order.statusOrders.statusName == 'Hoàn thành'}">
                                Write a review
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="review modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">REVIEW PRODUCT</h1>
                    <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa fa-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="review-infor-book row">
                        <div class="review-pic col-lg-3">
                            <img th:src="@{'/product_img/'+${orderDetail.product.product_img}}" th:alt="${orderDetail.products.productName}">
                        </div>
                        <div class="review-name-star col-7">
                            <p class="review-name" th:text="${orderDetail.product.productName}"></p>
                            <div class="review-star">
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" th:value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
<!--                                    <input type="radio" id="star4half" name="rating" th:value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>-->
                                    <input type="radio" id="star4" name="rating" th:value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
<!--                                    <input type="radio" id="star3half" name="rating" th:value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>-->
                                    <input type="radio" id="star3" name="rating" th:value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
<!--                                    <input type="radio" id="star2half" name="rating" th:value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>-->
                                    <input type="radio" id="star2" name="rating" th:value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
<!--                                    <input type="radio" id="star1half" name="rating" th:value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>-->
                                    <input type="radio" id="star1" name="rating" th:value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
<!--                                    <input type="radio" id="starhalf" name="rating" th:value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>-->
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p class="review-text">What makes you satisfied?</p>
                    <textarea class="form-control" placeholder="Reviews Content" id="review-content" style="height: 100px"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-save" th:onclick="'writeReview(\'' + ${orderDetail.product.productId} + '\')'">Send review</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
    const ratingInputs = document.querySelectorAll('input[name="rating"]');
    var selectedValue = null;

    ratingInputs.forEach(input => {
        input.addEventListener('click', function() {
            selectedValue = this.value;
        });
    });

    function writeReview(productId) {
            var textarea = document.getElementById('review-content');
            var textareaValue = textarea.value;
            console.log(textareaValue);
            console.log(selectedValue);
            console.log(productId);

            $.ajax({
                url: "/writeReview",
                type: "GET",
                data: {
                    productId: productId,
                    reviewContent: textareaValue,
                    starForProduct: selectedValue
                },
                success: function(response) {
                    console.log(response);
                    Swal.fire({
                        position: "center",
                        icon: "success",
                        title: "Review Product Successfully!",
                        showConfirmButton: false,
                        timer: 150000
                    })
                },
                error: function(xhr, status, error) {
                    console.log(error);
                    Swal.fire({
                        icon: "error",
                        title: "Review Product Failed!"
                    });
                }
            });
        };
</script>
</body>
</html>