<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/product-detail.css" >
</head>
<body>
<div class="product-detail">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="product-detail1">
        <div class="product-detail-item">
            <div class="product-detail-infor row">
                <div class="pic-product col-lg-4">
                    <div class="back-home">
                        <a th:href="@{/shop}">
                            <img src="/public/epback.svg">
                        </a>
                        <a th:href=@{/shop/1?CateID=all&searchName=null}>
                            <span>Back to shop</span>
                        </a>
                    </div>
                    <div class="pic">
                        <img th:src="@{'/product_img/'+${product.product_img}}" th:alt="${product.productName}">
                    </div>
                </div>
                <div class="news-detail-hr col-lg-1">
                    <div class="news-detail-inner"></div>
                </div>
                <div class="infor-product col-lg-6">
                    <p class="cate" th:text="${product.categories.categoryName}"></p>
                    <p class="name" th:text="${product.productName}"></p>
                    <p class="author">Author: <span th:text="${product.author}"></span></p>
                    <p class="publisher">Publisher: <span th:text="${product.publisher}"></span></p>
                    <p class="language">Language: <span th:text="${product.language}"></span></p>
                    <div class="price-cart-heart">
                        <p class="product-detail-price"><span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0 , 'POINT')}"></span><span>đ</span></p>
                        <div class="button-add-like row">
                            <div class="add-cart col-lg-6">
                                <button class="btn" th:onclick="'addToCart(\'' + ${product.productId} + '\')'">ADD TO CART</button>
                            </div>
                            <div class="heart col-lg-6">
                                <button class="btn" th:onclick="'addToWishlist(\'' + ${product.productId} + '\')'">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail-description row">
                <div class="description-review col-lg-7">
                    <div class="description">
                        <p class="description-text">Description</p>
                        <p class="description-detail" id="description-detail" th:text="${product.description}">

                        </p>
<!--                        <button id="read-more-btn" onclick="toggleReadMore()">Xem thêm</button>-->
                    </div>
                    <hr class="product-detail-hr">
                    <div class="review">
                        <p class="review-text">Review</p>
                        <div class="review-list row" th:if="${listReview != null}" th:each="review : ${listReview}">
                            <div class="user-review-pic col-lg-2">
                                <img th:src="@{'/customer_pic/'+${review.customer.picture}}">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review" th:text="${review.customer.customerName}"></p>
                                <p class="review-content" th:text="${review.reviewContent}"></p>
                            </div>
                            <hr class="hr-review">
                        </div>
                        <div class="not-found-list" th:unless="${listReview != null}">
                            <p>Not found review</p>
                        </div>
                    </div>
                </div>
                <div class="news-detail-hr col-lg-1">
                    <div class="news-detail-inner"></div>
                </div>
                <div class="list-recommended col-lg-3">
                    <p class="recommended-text">Also Recommended</p>
                    <div class="product-recommended row" th:each="p : ${listProduct}">
                        <a th:href="@{/productDetail(productId=${p.productId})}" class="product-recommended-pic col-lg-2">
                            <img th:src="@{'/product_img/'+${p.product_img}}" th:alt="${p.productName}">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a th:href="@{/productDetail(productId=${p.productId})}" class="product-recommended-infor-name" th:text="${p.productName}"></a>
                            <p class="product-recommended-infor-price">
                                <span th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0 , 'POINT')}"></span><span> đ</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
    function addToCart(productId) {

        console.log(productId);
        $.ajax({
            url: "/addToCart",
            type: "GET",
            data: {
                productId: productId
            },
            success: function(response) {
                var itemInCart = response.itemInCart;
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: "Add To Cart Successfully!",
                  showConfirmButton: false,
                  timer: 1500
                });
                if (itemInCart >= 1) {
                    $("#itemInCart").text(itemInCart);
                }
            },
            error: function(xhr, status, error) {
                console.log(error);
                Swal.fire({
                  icon: "error",
                  title: "Please Sign In!"
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "/login";
                  }
                });
            }
        });
    };

    function addToWishlist(productId) {

        console.log(productId);
        $.ajax({
            url: "/profile/addToWishlist",
            type: "GET",
            data: {
                productId: productId
            },
            success: function(response) {
                if(response == "Add Product To Wishlist Successfully!"){
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      title: response,
                      showConfirmButton: false,
                      timer: 1500
                    });
                } else{
                    if(response == "The Product Already Exists In The Wishlist!"){
                        Swal.fire({
                          position: "center",
                          icon: "warning",
                          title: response,
                          showConfirmButton: false,
                          timer: 1500
                        });
                    }
                }
            },
            error: function(xhr, status, error) {
                console.log(error);
                Swal.fire({
                  icon: "error",
                  title: "Please Sign In!"
                }).then((result) => {
                  if (result.isConfirmed) {
                    window.location.href = "/login";
                  }
                });
            }
        });
    }
</script>
</body>
</html>