<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Detail</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/product-detail.css" >
</head>
<body>
<div class="product-detail">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="product-detail1">
        <div class="product-detail-item">
            <div class="product-detail-infor row">
                <div class="pic-product col-lg-6">
                    <div class="back-home">
                        <a th:href="@{/shop}">
                            <img src="/public/epback.svg">
                        </a>
                        <a th:href="@{/shop}">
                            <span>Back to shop</span>
                        </a>
                    </div>
                    <div class="pic">
                        <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                    </div>
                    <div class="list-pic">
                        <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                    </div>
                </div>
                <div class="news-detail-hr col-lg-1">
                    <div class="news-detail-inner"></div>
                </div>
                <div class="infor-product col-lg-5">
                    <p class="cate">Category</p>
                    <p class="name">Name of Book</p>
                    <p class="author">Author: <span></span></p>
                    <p class="publisher">Publisher: <span></span></p>
                    <p class="language">Language: <span></span></p>
                    <p class="condition">Condition: <span></span></p>
                    <p class="stock">Quantity in Stock: <span></span></p>
                    <p class="product-detail-price">Price</p>
                    <div class="button-add-like row">
                        <div class="add-cart col-lg-6">
                            <a href="#">ADD TO CART</a>
                        </div>
                        <div class="heart col-lg-6">
                            <a href="#">
                                <img src="/public/phheart.svg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-detail-description row">
                <div class="description-review col-lg-7">
                    <div class="description">
                        <p class="description-text">Description</p>
                        <p class="descripton-detail">
                            "Cây cam ngọt của tôi" là câu chuyện về cậu bé Zezé, một cậu bé 5 tuổi thông minh, tinh nghịch và đáng yêu, sinh ra và lớn lên trong một gia đình nghèo đông con ở vùng ngoại ô Rio de Janeiro, Brazil. Cậu bé có ước mơ trở thành một nhà thơ cổ thắt nơ bướm.

                            Cuộc sống của Zezé không hề dễ dàng. Cậu phải chịu đựng sự hắt hủi, đánh mắng của cha mẹ và anh chị em. Cậu cũng phải đối mặt với những khó khăn của cuộc sống nghèo khó. Tuy nhiên, Zezé vẫn giữ được trái tim trong sáng và trí tưởng tượng phong phú.

                            Cậu bé tìm thấy một người bạn đặc biệt, đó là cây cam ngọt trong vườn sau nhà. Cậu bé thường tâm sự với cây cam về những niềm vui, nỗi buồn của mình. Cây cam ngọt cũng trở thành nguồn động viên, khích lệ cậu bé trong cuộc sống.

                            Một ngày kia, Zezé gặp gỡ một người bạn mới, đó là Lọ Lem. Lọ Lem là một cậu bé mồ côi, sống lang thang trên đường phố. Lọ Lem đã giúp Zezé khám phá thế giới bên ngoài và dạy cậu bé cách yêu thương.

                            Cuộc sống của Zezé đã thay đổi mãi mãi sau khi cậu gặp Lọ Lem. Cậu bé học được cách đối mặt với những khó khăn và vượt qua những thử thách trong cuộc sống. Cậu cũng học được cách yêu thương và trân trọng những người xung quanh.
                        </p>
                    </div>
                    <hr class="product-detail-hr">
                    <div class="review">
                        <p class="review-text">Review</p>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua</p>
                            </div>
                            <hr class="hr-review">
                        </div>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua</p>
                            </div>
                            <hr class="hr-review">
                        </div>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua. eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                                eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                                eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
                                eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
                            </div>
<!--                            <div class="review-more col-lg-1">-->
<!--                                <div class="dropdown-review-more">-->
<!--                                    <a href="#" onclick="dropdownReview()">-->
<!--                                        <img src="/images/icon/more.png" width="15" height="15">-->
<!--                                    </a>-->
<!--                                    <div class="dropdown-content-review" id="moreDropdown">-->
<!--                                        <div>-->
<!--                                            <a href="#" class="">-->
<!--                                                <a>Edit</a>-->
<!--                                            </a>-->
<!--                                            <a href="#" class="">-->
<!--                                                <a>Remove</a>-->
<!--                                            </a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <hr class="hr-review">-->
                        </div>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua</p>
                            </div>
<!--                            <hr class="hr-review">-->
                        </div>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua</p>
                            </div>
                            <hr class="hr-review">
                        </div>
                        <div class="review-list row">
                            <div class="user-review-pic col-lg-2">
                                <img src="/images/icon/avata.jpg">
                            </div>
                            <div class="user-review col-lg-10">
                                <p class="username-review">Customer name</p>
                                <p class="review-content">Cuốn sách này rất hay, rất đáng mua</p>
                            </div>
                            <hr class="hr-review">
                        </div>
                    </div>
                </div>
                <div class="news-detail-hr col-lg-1">
                    <div class="news-detail-inner"></div>
                </div>
                <div class="list-recommended col-lg-3">
                    <p class="recommended-text">Also Recommended</p>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                    <div class="product-recommended row">
                        <a href="" class="product-recommended-pic col-lg-2">
                            <img src="/img/product_img/cay-cam-ngot-cua-toi-bia-truoc.jpg" alt="">
                        </a>
                        <div class="product-recommended-infor col-lg-10">
                            <a href="" class="product-recommended-infor-name">
                                Name of book
                            </a>
                            <p class="product-recommended-infor-price">
                                Price
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
</body>
</html>