<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/profile-information.css" >
</head>
<body>
<div class="profile-personal-information">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="wishlist-infor row">
        <div class="menu-profile col-lg-3">
            <div class="pic-name">
                <div class="pic-profile">
                    <div class="avata1">
                        <img th:src="@{'/customer_pic/'+${session.loggingCustomer.picture}}" alt="" class="avata-customer">
                    </div>
                </div>
                <div class="name-profile">
                    <div class="customer-full-name5" th:text="${session.loggingCustomer.customerName}"></div>
                </div>
            </div>
            <div class="profile-personal-information-child2"></div>
            <div class="menu">
                <a th:href="@{/profile/personal}" class="personal-information5" onclick="toggleActive(this)">Personal information</a>
                <a th:href="@{/profile/address/1}" class="address-information5" onclick="toggleActive(this)">Address information</a>
                <a th:href="@{/profile/wishlist/1}" class="my-wish-list5" id="my-wishlist"  onclick="toggleActive(this)">My wish list</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="profile-personal-information-child">
                <div class="form-changePass">
                    <span class="title-form">Change Password</span>
                    <form th:action="@{/profile/updatePassword}" method="post" th:object="${profilePassword}" class="body-formChange">
                        <span class="error1" th:if="${!#strings.isEmpty(message)}" th:text="${message}" style="display: none"></span>
                        <div class="rectangle-parent32">
                            <label class="birthday">New Password</label>
                            <div class="pass-input">
                                <input name="password" th:field="*{newPassword}" class="email-confirm password" id="passwordInput1" placeholder="Password" type="password" />
                                <img  class="fluenteye-16-filled-icon1" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon1" onclick="togglePasswordVisibility1()" />
                            </div>
                            <span class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
                        </div>
                        <div class="rectangle-parent33">
                            <label class="birthday">Confirm News Password</label>
                            <div class="pass-input">
                                <input name="password" th:field="*{confirmNewPassword}" class="email-confirm password" id="passwordInput2" placeholder="Password" type="password" />
                                <img  class="fluenteye-16-filled-icon1" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon2" onclick="togglePasswordVisibility2()" />
                            </div>
                            <span class="error" th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"></span>
                            <span class="error" th:if="${newPasswordMismatch != null}" th:text="${newPasswordMismatch}"></span>
                        </div>
                        <div class="button-changePass">
                            <button type="submit" class="update-profile btn">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
    function togglePasswordVisibility1() {
        const input = document.getElementById('passwordInput1');
        const eyeIcon = document.getElementById('eyeIcon1');

        if (input.type === 'password') {
            input.type = 'text';
            eyeIcon.src = '/public/fluent_eye-off-24-filled.svg';
        } else {
            input.type = 'password';
            eyeIcon.src = '/public/fluent_eye-16-filled.svg';
        }
    };
    function togglePasswordVisibility2() {
              const input = document.getElementById('passwordInput2');
              const eyeIcon = document.getElementById('eyeIcon2');

              if (input.type === 'password') {
                  input.type = 'text';
                  eyeIcon.src = '/public/fluent_eye-off-24-filled.svg';
              } else {
                  input.type = 'password';
                  eyeIcon.src = '/public/fluent_eye-16-filled.svg';
              }
    };

     var notificationSpan = document.querySelector('.error1');
        var notificationMessage = notificationSpan.textContent ;

        if(notificationMessage.trim() !== '') {
            Swal.fire({
                icon: "success",
                title: notificationMessage
            });
        }
</script>
</body>
</html>