<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/profile-information.css" >
</head>
<body>
<div class="profile-personal-information">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="avata1">
                <img src="/img/avata.jpg" alt="" class="avata-customer">
            </div>
            <div class="customer-full-name5">Customer Full Name</div>
            <div class="profile-personal-information-child2"></div>
            <a th:href="@{/profile/personal}" class="personal-information5" onclick="toggleActive(this)">Personal information</a>
            <a th:href="@{/profile/address}" class="address-information5" onclick="toggleActive(this)">Address information</a>
            <a th:href="@{/profile/wishlist}" class="my-wish-list5" id="my-wishlist"  onclick="toggleActive(this)">My wish list</a>
        </div>
        <div class="col-lg-9">
            <div class="profile-personal-information-child">
                <form action="" class="row">
                    <div class="col-lg-3">
                        <div class="avata-form" id="avataForm">
                            <label for="fileInput" class="file-label" id="fileLabel">
                                <img src="/img/avata.jpg" alt="" class="avata-customer" id="avataImage">
                                <div class="overlay">
                                    <i class="fa fa-camera"></i>
                                    <input type="file" id="fileInput" class="file-input">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="rectangle-parent32">
                            <label class="birthday">Full name</label>
                            <input class="email-confirm" type="text" placeholder="Full name"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent33">
                            <label class="birthday">Phone Number</label>
                            <input class="email-confirm" type="text" placeholder="Phone Number"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent34">
                            <label class="birthday">Email</label>
                            <input class="email-confirm" type="text" placeholder="Email"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent35">
                            <label class="birthday">Birthday</label>
                            <input class="email-confirm" type="date" placeholder="Birthday"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="button">
                            <button type="submit" class="update-profile">Update Profile</button>
                            <a th:href="@{/profile/changePass}" type="submit" class="change-password1">Change Password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
    // JavaScript
      document.getElementById('fileInput').addEventListener('change', handleFileSelect);

        function handleFileSelect() {
        const fileInput = document.getElementById('fileInput');
        const avataImage = document.getElementById('avataImage');

        const selectedFile = fileInput.files[0];

        if (selectedFile) {
            const reader = new FileReader();

            reader.onload = function (e) {
            avataImage.src = e.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }
      }
</script>
</body>
</html>