<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <th:block th:replace="~{User-view/style/user-css.html :: html}"></th:block>
    <link type="text/css" rel="stylesheet" href="/css/profile-information.css" >
</head>
<body>
<div class="profile-personal-information">
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="row">
        <div class="col-lg-3">
            <div class="avata1">
                <img src="/img/avata.jpg" alt="" class="avata-customer">
            </div>
            <div class="customer-full-name5">Customer Full Name</div>
            <div class="profile-personal-information-child2"></div>
            <a th:href="@{/profile/personal}" class="personal-information5" onclick="toggleActive(this)">Personal information</a>
            <a th:href="@{/profile/address}" class="address-information5" onclick="toggleActive(this)">Address information</a>
            <a th:href="@{/profile/wishlist}" class="my-wish-list5" id="my-wishlist"  onclick="toggleActive(this)">My wish list</a>
        </div>
        <div class="col-lg-9">
            <div class="profile-personal-information-child">
                <div class="formAddress">
                    <form action="" class="body-formAddress">
                        <div class="rectangle-parent32">
                            <label class="birthday">Recipient's Full Name</label>
                            <input class="email-confirm fullName" type="text" placeholder="Recipient's Full Name"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent33">
                            <label class="birthday">Recipient's Phone Number</label>
                            <input class="email-confirm phoneNumber" type="text" placeholder="Recipient's Phone Number"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent34">
                            <label class="birthday">Address Detail</label>
                            <input class="email-confirm addressDetail" type="text" placeholder="Address Detail"/>
                            <span class="error">Test error</span>
                        </div>
                        <div class="rectangle-parent35">
                            <label class="birthday">Address Type</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input addressType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                <label class="form-check-label label-addressType" for="inlineRadio1">Home</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input addressType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label label-addressType" for="inlineRadio2">Office</label>
                            </div>
                            <span class="error">Test error</span>
                        </div>
                        <div class="button-address">
                            <button type="submit" class="update-profile">Update Profile</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
</div>
<th:block th:replace="~{User-view/style/user-scr.html::html}"></th:block>
<script>
    // JavaScript
      document.getElementById('fileInput').addEventListener('change', handleFileSelect);

        function handleFileSelect() {
        const fileInput = document.getElementById('fileInput');
        const avataImage = document.getElementById('avataImage');

        const selectedFile = fileInput.files[0];

        if (selectedFile) {
            const reader = new FileReader();

            reader.onload = function (e) {
            avataImage.src = e.target.result;
            };

            reader.readAsDataURL(selectedFile);
        }
      }
</script>
</body>
</html>