<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <th:block th:replace="~{User-view/style/user-css :: html}"></th:block>
    <link rel="stylesheet" href="/css/SignUp.css" type="text/css">
</head>
<body>
<div class="sign-up2">
    <div class="sign-up-child">
        <img class="sign-up-item" alt="" src="/public/Screenshot_2023-10-01_145603-removebg-preview.png" />
        <div class="welcome-to-stranger">Welcome to Stranger Bookstore!</div>
        <div class="sign-up-for">Sign up for your own account</div>
        <!-- <img class="sign-up-item" alt="" src="/public/Screenshot_2023-10-01_145603-removebg-preview.png" /> -->

        <div class="rectangle-parent2">
            <a href="" class="group-child1">
                <img class="devicongoogle1" alt="" src="./public/devicon_google.svg" />
                <span class="sign-in-with2">Sign up with Google</span>
            </a>
        </div>

        <div class="line-div1"></div>

<!--        <form th:action="@{/doSignup}" method="post" th:object="${customer}" class="sign-up-form" id="sign-up">-->
<!--            <span class="error" th:if="${!#strings.isEmpty(message)}" th:text="${message}"></span>-->
<!--            <div class="input-form-sign-up">-->

<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent8">-->
<!--                    <input class="email-confirm" th:field="*{customerName}" type="text" placeholder="Full name"/>-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>-->
<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent9">-->
<!--                    <input class="email-confirm" th:field="*{phoneNumber}" type="text" placeholder="Phone number"/>-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>-->
<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent10">-->
<!--                    <input class="email-confirm" th:field="*{email}" type="email" placeholder="Email"/>-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent11">-->
<!--                    <input class="email-confirm" type="email" th:field="*{emailConfirm}" placeholder="Email Confirm"/>-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('emailConfirm')}" th:errors="*{emailConfirm}"></span>-->
<!--                <span class="error" th:if="${emailMismatch != null}" th:text="${emailMismatch}"></span>-->
<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent12">-->
<!--                    <input class="email-confirm" id="passwordInput1" th:field="*{password}" type="password" placeholder="Password"/>-->
<!--                    <img class="fluenteye-16-filled-icon2" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon1" onclick="togglePasswordVisibility1()" />-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>-->
<!--            </div>-->
<!--            <div class="input-form-sign-up">-->
<!--                <div class="rectangle-parent13">-->
<!--                    <input class="email-confirm" id="passwordInput2" th:field="*{passwordConfirm}" type="password" placeholder="Password Confirm"/>-->
<!--                    <img class="fluenteye-16-filled-icon2" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon2" onclick="togglePasswordVisibility2()" />-->
<!--                </div>-->
<!--                <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>-->
<!--                <span class="error" th:if="${passwordMismatch != null}" th:text="${passwordMismatch}"></span>-->
<!--            </div>-->
<!--            <button type="submit" class="btn sign-up3">Sign up</button>-->
<!--        </form>-->
        <form th:object="${customer}" class="sign-up-form" id="sign-up">
            <span class="error" th:if="${!#strings.isEmpty(message)}" th:text="${message}"></span>
            <div class="input-form-sign-up">

            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent8">
                    <input class="email-confirm" th:field="*{customerName}" type="text" placeholder="Full name"/>
                </div>
                <span class="error" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></span>
            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent9">
                    <input class="email-confirm" th:field="*{phoneNumber}" type="text" placeholder="Phone number"/>
                </div>
                <span class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent10">
                    <input class="email-confirm" th:field="*{email}" type="email" placeholder="Email"/>
                </div>
                <span class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent11">
                    <input class="email-confirm" type="email" th:field="*{emailConfirm}" placeholder="Email Confirm"/>
                </div>
                <span class="error" th:if="${#fields.hasErrors('emailConfirm')}" th:errors="*{emailConfirm}"></span>
                <span class="error" th:if="${emailMismatch != null}" th:text="${emailMismatch}"></span>
            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent12">
                    <input class="email-confirm" id="passwordInput1" th:field="*{password}" type="password" placeholder="Password"/>
                    <img class="fluenteye-16-filled-icon2" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon1" onclick="togglePasswordVisibility1()" />
                </div>
                <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div class="input-form-sign-up">
                <div class="rectangle-parent13">
                    <input class="email-confirm" id="passwordInput2" th:field="*{passwordConfirm}" type="password" placeholder="Password Confirm"/>
                    <img class="fluenteye-16-filled-icon2" alt="" src="/public/fluent_eye-16-filled.svg" id="eyeIcon2" onclick="togglePasswordVisibility2()" />
                </div>
                <span class="error" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></span>
                <span class="error" th:if="${passwordMismatch != null}" th:text="${passwordMismatch}"></span>
            </div>
            <button type="submit" onclick="doSignup()" class="btn sign-up3">Sign up</button>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function togglePasswordVisibility1() {
        const input = document.getElementById('passwordInput1');
        const eyeIcon = document.getElementById('eyeIcon1');

        if (input.type === 'password') {
            input.type = 'text'; // Hiển thị mật khẩu khi click vào biểu tượng
            eyeIcon.src = './public/fluent_eye-off-24-filled.svg'; // Thay đổi hình ảnh
        } else {
            input.type = 'password'; // Ẩn mật khẩu khi click lại vào biểu tượng
            eyeIcon.src = './public/fluent_eye-16-filled.svg'; // Thay đổi hình ảnh
        }
    };
    function togglePasswordVisibility2() {
              const input = document.getElementById('passwordInput2');
              const eyeIcon = document.getElementById('eyeIcon2');

              if (input.type === 'password') {
                  input.type = 'text'; // Hiển thị mật khẩu khi click vào biểu tượng
                  eyeIcon.src = './public/fluent_eye-off-24-filled.svg'; // Thay đổi hình ảnh
              } else {
                  input.type = 'password'; // Ẩn mật khẩu khi click lại vào biểu tượng
                  eyeIcon.src = './public/fluent_eye-16-filled.svg'; // Thay đổi hình ảnh
              }
    };

    function doSignup() {
        console.log("hello");
        $('.sign-up-form').submit(function (e) {
            e.preventDefault();

            // Lấy dữ liệu từ form
            var formData = $(this).serialize();

            // Gửi dữ liệu bằng Ajax
            $.ajax({
                type: 'POST',
                url: '/doSignup', // Thay đổi đường dẫn tùy thuộc vào đường dẫn thực tế của bạn
                data: formData,
                success: function (response) {
                    // Xử lý kết quả trả về từ server nếu cần
                    console.log(response);
                    Swal.fire({
                      position: "center",
                      icon: "success",
                      title: "Your work has been saved",
                      showConfirmButton: true,
                      timer: 1500000
                    }).then((result) => {
                      if (result.isConfirmed) {
                        // Chuyển hướng đến trang /login
                        window.location.href = "/login";
                      }
                    });
                },
                error: function (error) {
                    // Xử lý lỗi nếu có
                    console.log(error);
                    Swal.fire({
                      icon: "error",
                      title: "Sign up failed!"
                    });
                }
            });
        });
    };
</script>
</body>
</html>