<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <th:block th:replace="~{User-view/style/user-css :: html}"></th:block>
</head>
<body style="background-color: #4B3029;">
<style>
    .box{
        position: absolute;
    }
</style>
<div th:replace="~{User-view/fragment/header.html :: div}"></div>

<div class="container" style="height: 150px; background-color:#4B3029 " ></div>
<div class="container mt-5" style="background-color: #dbd5c6; border-radius: 5px; height: auto; margin-top: 100px ">
    <div class="col-sm-12">
        <br>
        <div class="row" style="margin-left: 30px;">
            <a href="" style="text-decoration: none;" class="text-black">
                <img style="width: 30px; height: 20px; margin-bottom: 2px;" th:src="@{|/img/icon_left.svg|}" alt=""><span class="ms-3" style="font-family: Kanit-Regular, Helvetica">Back To Shop</span>
            </a>
        </div>
    </div>
    <div class="container mt-5">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <img class="img-fluid" style="border-radius: 5px; width: 350px; margin-left: 100px;" th:src="@{|/img/Book1.jpg|}" alt="">
                    <div style="margin-top: 10px;">
                                <span>
                                    <a href=""><img  style="border-radius: 5px; width: 80px; margin-left: 145px;" th:src="@{|/img/Book1.jpg|}" alt=""></a>
                                    <a href=""><img  style="border-radius: 5px; width: 80px; margin-left: 5px;" th:src="@{|/img/Book1.jpg|}" alt=""></a>
                                    <a href=""><img  style="border-radius: 5px; width: 80px; margin-left: 5px;" th:src="@{|/img/Book1.jpg|}" alt=""></a>

                                </span>
                    </div>


                </div>
                <div class="col-sm-1 ">
                    <hr style="width: 3px; height: 600px; background-color: black; margin-left: 50px;">
                </div>
                <div class="col-sm-6">
                    <p>category</p>
                    <p class="mt-3" style="font-size: 20px; font-family: Kanit-Regular, Helvetica"><Strong>Name of Book</Strong></p>
                    <p style="font-size: 16px;font-family: Kanit-Regular, Helvetica" class="mt-5">Author</p>
                    <p style="font-size: 16px; font-family: Kanit-Regular, Helvetica" >Publisher</p>
                    <p style="font-size: 16px;font-family: Kanit-Regular, Helvetica" >Language</p>
                    <p style="font-size: 16px;font-family: Kanit-Regular, Helvetica" >Condition</p>
                    <p style="font-size: 16px;font-family: Kanit-Regular, Helvetica" >Quantity in Stock</p>
                    <p style="font-size: 16px;font-family: Kanit-Regular, Helvetica" >ISBN</p>
                    <p class="mt-5" style="font-size: 20px;font-family: Kanit-Regular, Helvetica"><Strong>Price</Strong></p>
                    <span>
                                <button class="mt-5" style="background-color: #4B3029;
                                color: #DBD5C6; width: 200px; height: 50px; border: none; border-radius: 10px;"><a href="" style="text-decoration: none;color: #dbd5c6 ;font-family: Kanit-Regular, Helvetica">
                                    ADD TO CART</a></button>
                                <a href="" class="box" style="margin-left: 20px; margin-top: 49px;"><img style="width: 53px;" th:src="@{|/img/wishlist_border.png|}" alt=""></a>
                                <a href="" class="box" style="margin-left: 20px; margin-top: 49px;"><img style="width: 53px;" th:src="@{|/img/wishlist.png|}" alt=""></a>
                            </span>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-7">
                    <span style="color: #4B3029;margin-left: 100px;font-size: 20px;font-family: Kanit-Regular, Helvetica">Description</span>
                    <p style="margin-left: 100px;font-family: Kanit-Regular, Helvetica; line-height: 25px" class="mt-2"><em>“ ‘Này, ông chủ, mời ông lại đây nếm thử món xúp mì của lão,’ ông già nói và quỳ xuống chiếc bát.
                        Món xúp ngon đến nỗi Levin không muốn về nhà ăn trưa nữa. Chàng ăn chung với ông già và cùng bàn bạc về công việc gia đình ông ta mà chàng tỏ ra hết sức quan tâm...
                        Rồi ông già đứng dậy, cầu nguyện và đến nằm dưới bụi cây sau khi vơ cỏ lót đầu; Levin cũng làm như vậy và mặc dầu ruồi bâu nhằng nhẵng cùng bọ rầy bé li ti bò buồn
                        buồn trên mặt, trên mình đầm đìa mồ hôi, chàng vẫn ngủ ngay và mãi khi mặt trời ngả bên kia bụi cây chiếu tới chỗ nằm, chàng mới thức giấc. Ông già đã dậy từ lâu:
                        ông đang ngồi mài lưỡi hái của đám thợ bạn trẻ.
                        Levin nhìn quanh và không nhận ra đây là đâu nữa: tất cả đều đã biến đổi. Một khoảng đồng cỏ rộng lớn đã phát xong và rực lên một thứ ánh sáng đặc biệt, mới mẻ,
                        với những luống cỏ đã thơm hương dưới nắng xiên khoai của mặt trời xế tà. Cả những đồng cỏ nằm bên bờ sông, cả con sông vừa nãy không trông thấy, giờ đây lấp lánh
                        sáng như thép ở chỗ lượn khúc, cả những người đi ra chỗ làm hoặc đang đứng dậy, cả đàn diều hâu bay lượn trên đồng cỏ trơ trụi, tất thảy đều hoàn toàn mới mẻ.”</em></p>
                    <hr style="color: black; margin-left: 110px; " class="mt-5">
                    <span style="color: #4B3029;margin-left: 100px;font-size: 20px; margin-top: 50px; font-family: Kanit-Regular, Helvetica" >Reviews</span>

                </div>
                <div class="col-sm-1">
                    <hr style="width: 3px; height: 800px; background-color: black; margin-left: 80px;">
                </div>
                <div class="col-sm-4">
                    <span style="color: #4B3029;font-size: 20px;font-family: Kanit-Regular, Helvetica">Also recommended</span>
                    <div class="row">
                        <div class="col-sm-2">
                            <img style="width: 90px; border-radius: 5px;" th:src="@{|/img/Book1.jpg|}" alt="">
                        </div>
                        <div class="col-sm-2" style="width: 300px;">
                            <div style="margin-left: 30px;">
                                <span style="font-family: Kanit-Regular, Helvetica">Name of book</span>
                                <p style="font-family: Kanit-Regular, Helvetica">88$</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <img style="width: 90px; border-radius: 5px;" th:src="@{|/img/Book1.jpg|}" alt="">
                        </div>
                        <div class="col-sm-2" style="width: 300px;">
                            <div style="margin-left: 30px;">
                                <span style="font-family: Kanit-Regular, Helvetica">Name of book</span>
                                <p style="font-family: Kanit-Regular, Helvetica">88$</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <img style="width: 90px; border-radius: 5px;" th:src="@{|/img/Book1.jpg|}" alt="">
                        </div>
                        <div class="col-sm-2" style="width: 300px;">
                            <div style="margin-left: 30px;">
                                <span style="font-family: Kanit-Regular, Helvetica">Name of book</span>
                                <p style="font-family: Kanit-Regular, Helvetica">88$</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <img style="width: 90px; border-radius: 5px;" th:src="@{|/img/Book1.jpg|}" alt="">
                        </div>
                        <div class="col-sm-2" style="width: 300px;">
                            <div style="margin-left: 30px;">
                                <span style="font-family: Kanit-Regular, Helvetica">Name of book</span>
                                <p style="font-family: Kanit-Regular, Helvetica">88$</p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-2">
                            <img style="width: 90px; border-radius: 5px;" th:src="@{|/img/Book1.jpg|}" alt="">
                        </div>
                        <div class="col-sm-2" style="width: 300px;">
                            <div style="margin-left: 30px;">
                                <span style="font-family: Kanit-Regular, Helvetica">Name of book</span>
                                <p style="font-family: Kanit-Regular, Helvetica">88$</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{User-view/fragment/footer.html :: div}"></div>
<th:block th:replace="~{User-view/style/user-scr :: html}"></th:block>
</body>
</html>