<!DOCTYPE html>
<div class="main-content" ng-controller="AdminProductController">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
<!--FORM-->
                    <div class="card">
                        <div class="card-header">
                            <strong>Product</strong> Form
                        </div>
                        <div class="card-body card-block">
                            <form action="" method="put" enctype="multipart/form-data" class="form-horizontal" >
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="disabled-input" class=" form-control-label">Product ID</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="disabled-input" name="disabled-input" disabled="" class="form-control" ng-model="form.productId">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="productName" class=" form-control-label">Product Name</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="productName" name="text-input" placeholder="Product Name"
                                               class="form-control"  ng-model="form.productName">
<!--                                        <small class="form-text text-muted">This is a help text</small>-->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="author" class=" form-control-label" >Author</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="author" name="text-input" placeholder="Author"
                                               class="form-control" ng-model="form.author">
                                        <!-- <small class="form-text text-muted">This is a help text</small>-->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="publisher" class=" form-control-label">Publisher </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="publisher" name="text-input" placeholder="Publisher"
                                               class="form-control"  ng-model="form.publisher">
                                        <!-- <small class="form-text text-muted">This is a help text</small>-->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="language" class=" form-control-label">Language </label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="language" name="text-input" placeholder="Language"
                                               class="form-control"  ng-model="form.language">
                                        <!-- <small class="form-text text-muted">This is a help text</small>-->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="condition " class=" form-control-label">Condition</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="condition " name="text-input" placeholder="Condition"
                                               class="form-control"  ng-model="form.condition">
                                        <!-- <small class="form-text text-muted">This is a help text</small>-->
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="quantityInStock " class=" form-control-label">Quantity in Stock</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="quantityInStock " name="text-input" placeholder="Quantity in Stock"
                                               class="form-control"  ng-model="form.quantityInStock">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="isbn" class=" form-control-label">ISBN</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="isbn" name="text-input" placeholder="ISBN"
                                               class="form-control"  ng-model="form.isbn">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="description" class=" form-control-label">Description</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                            <textarea name="textarea-input" id="description" rows="9"
                                                      placeholder="Description..." class="form-control" ng-model="form.description"></textarea>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="price" class=" form-control-label">Price</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <input type="text" id="price" name="text-input" placeholder="Price"
                                               class="form-control"  ng-model="form.price">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="categoryId" class=" form-control-label">Category</label>
                                    </div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="categoryId" class="form-control" ng-model="form.categories"
                                                ng-options="c as c.categoryName for c in categories track by c.categoryId">
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label  for="product_img" class=" form-control-label">Picture Product</label>
                                    </div>
                                   <div class="col-12 col-md-6">
                                       <input type="file" id="product_img"  ng-model="form.product_img">
                                   </div>
                                    <div class="col-12 col-md-3">
                                        <!-- Hiển thị tên tệp đã chọn -->
                                        <span ng-if="form.product_img">{{form.product_img}}</span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="createProduct(); updateFileName();" >
                                        Create
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="updateProduct(); updateFileName();">
                                        Update
                                    </button>
                                    <button type="submit" class="btn btn-primary btn-sm" ng-click="resetForm()">
                                        Reset
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm" ng-click="deleteProduct($event)">
                                        Delete
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
<!--TABLE-->
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <h3 class="title-5 m-b-35">Product Table</h3>
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                    <div class="row form-group">
                                        <div class="col col-md-10">
                                            <input type="text" id="search" name="text-input" placeholder="Search"
                                                   class="form-control" ng-model="searchKeyword">
                                        </div>
                                        <div class="col-12 col-md-2 mt-1">
                                            <button type="submit" class="btn btn-primary btn-sm" ng-click="searchProduct()">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Author</th>
                                        <th>Publisher</th>
                                        <th>Language</th>
                                        <th>Condition</th>
                                        <th>Quantity in Stock</th>
                                        <th>ISBN</th>
                                        <th>Description</th>
                                        <th>Category</th>
                                        <th>Picture Product</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow"  ng-repeat="item in list" >
                                        <td> <span>{{item.productId}} </span></td>
                                        <td>{{item.productName}}</td>
                                        <td>{{item.author}}</td>
                                        <td>{{item.publisher}}</td>
                                        <td>{{item.language}}</td>
                                        <td>{{item.condition}}</td>
                                        <td>{{item.quantityInStock}}</td>
                                        <td>{{item.isbn}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.categories.categoryName}}</td>
                                        <td>{{item.product_img}}</td>
                                        <td>
                                            <div class="table-data-feature">
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" ng-click="editProduct(item)">
                                                    <i class="zmdi zmdi-edit"></i>
                                                </button>
                                                <button class="item" data-toggle="tooltip" data-placement="top" title="Delete" ng-click="deleteProduct($event, item)">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
</html>