<div class="main-content" ng-controller="AdminContactController">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <!--FORM-->
            <div class="card">
                <div class="card-header">
                    <strong>Message Contact</strong> Form
                </div>
                <div class="card-body card-block">
                    <form action="" method="put" enctype="multipart/form-data" class="form-horizontal">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="disabled-input" class=" form-control-label">Contact ID</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="disabled-input" name="disabled-input"
                                       placeholder="Disabled" disabled="" class="form-control" ng-model="form.contactId">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="fullName" class=" form-control-label">Full Name</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="fullName" name="disabled-input"
                                       placeholder="Disabled" disabled="" class="form-control" ng-model="form.fullName">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="email" class=" form-control-label">Email</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="email" name="disabled-input"
                                       placeholder="Disabled" disabled="" class="form-control" ng-model="form.email">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="phoneNumber" class=" form-control-label">Phone Number</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="phoneNumber" name="disabled-input"
                                       placeholder="Disabled" disabled="" class="form-control" ng-model="form.phoneNumber">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="subject" class=" form-control-label">Subject</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="subject" name="disabled-input"
                                       placeholder="Disabled" disabled="" class="form-control" ng-model="form.subject">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="textarea-input" class=" form-control-label">Message</label>
                            </div>
                            <div class="col-12 col-md-9">
                                            <textarea name="textarea-input" id="textarea-input" rows="9"
                                                      placeholder="Content..." class="form-control" ng-model="form.message"></textarea>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label class=" form-control-label">Status</label>
                            </div>
                            <div class="col col-md-9">
                                <div class="form-check">
                                    <div class="radio">
                                        <label for="radioOpen" class="form-check-label ">
                                            <input type="radio" id="radioOpen" name="radios" value="Enable"
                                                   class="form-check-input" ng-model="form.status">Enable
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label for="radioClose" class="form-check-label ">
                                            <input type="radio" id="radioClose" name="radios" value="Disable"
                                                   class="form-check-input" ng-model="form.status">Disable
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary btn-sm" name="update" ng-click="updatecontact()">
                            Update
                        </button>
                    </div>
                </div>
            </div>
            <!--TABLE-->
            <div class="row">
                <div class="col-md-12">
                    <!-- DATA TABLE -->
                    <h3 class="title-5 m-b-35">Message Contact Table</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">
                            <form>
                                <div class="row form-group">
                                    <div class="col col-md-10">
                                        <input type="text" id="search" name="text-input" placeholder="Search"
                                               class="form-control" ng-model="query">
                                    </div>
                                    <div class="col-12 col-md-2 mt-1">
                                        <button type="submit" class="btn btn-primary btn-sm" name="search">
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Subject</th>
                                <th>Message</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="tr-shadow" ng-repeat="item in displayedItems | filter:query">
                                <td>{{item.fullName}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.phoneNumber}}</td>
                                <td>{{item.subject}}</td>
                                <td>{{item.message}}</td>
                                <td>{{item.status}}</td>
                                <td>
                                    <div class="table-data-feature">
                                        <button class="item" data-toggle="tooltip" data-placement="top" title="Edit" id="edit" ng-click="editcontact(item)">
                                            <i class="zmdi zmdi-edit"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="spacer"></tr>
                            </tbody>
                        </table>
                        <div class="pagination" style="margin: 30px;display: flex;align-items: center;justify-content: center;">
                            <button style="margin: 0 10px;" ng-disabled="currentPage == 1" ng-click="currentPage=currentPage-1; loadPage(currentPage)">Previous </button>
                            <span> Page {{currentPage}} of {{numberOfPages()}} </span>
                            <button style="margin: 0 10px;" ng-disabled="currentPage == numberOfPages()" ng-click="currentPage=currentPage+1; loadPage(currentPage)">Next</button>
                        </div>
                    </div>
                    <!-- END DATA TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
