<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="footer">
    <div class="footer-child"></div>
    <div class="footer-item"></div>
    <div class="district-ho-chi-container">
        <p class="district-ho-chi">12 District, Ho Chi Minh City, Viet Nam</p>
    </div>
    <div class="information-of-website">
        (Information of Website and team)
    </div>
    <div class="bn-quyn-thuc">2023 - Bản quyền thuộc Team Stranger</div>
    <a href="" class="news">News</a>
    <a href="" class="about-us">About us</a>
    <div class="quick-links">Quick Links</div>
    <a href="" class="shop">Shop</a>
    <a href="" class="home">Home</a>
    <div class="div">(+84) 964645135</div>
    <a
            class="strangerbookgmailcom"
            href="mailto:strangerbook@gmail.com"
            target="_blank"
    >strangerbook@gmail.com</a
    >
    <img
            class="icbaseline-facebook-icon"
            alt=""
            src="/public/icbaselinefacebook.svg"
    />

    <img class="mdiinstagram-icon" alt="" src="/public/mdiinstagram.svg" />

    <img
            class="material-symbolsmail-outline-icon"
            alt=""
            src="/public/materialsymbolsmailoutline.svg"
    />

    <img class="bic-circle-icon" alt="" src="/public/biccircle.svg" />

    <div class="footer-inner"></div>
    <div class="contact-infor">Contact Infor</div>
    <div class="line-div"></div>
    <div class="footer-child1"></div>
    <img
            class="phphone-light-icon"
            alt=""
            src="/public/phphonelight.svg"
    />

    <img
            class="mdiaddress-marker-icon"
            alt=""
            src="/public/mdiaddressmarker.svg"
    />

    <img
            class="icbaseline-tiktok-icon"
            alt=""
            src="/public/icbaselinetiktok.svg"
    />
</div>
</html>