<!DOCTYPE html>
<html lang="en">
<div class="home-after-login">
    <div class="div">
        <div class="box">
            <header class="header">
                <!-- <div class="rectangle"></div> -->
                <div class="overlap-group">
                    <div class="text-wrapper">
                        <a href="" class="name">Stranger Bookstore</a>
                    </div>
                    <a href=""><img class="ellipse" src="img/ellipse-1.png" /></a>
                </div>
                <div class="text-wrapper-3">
                    <a href="#" class="title">
                        <span>Home</span>
                    </a>
                </div>
                <div class="text-wrapper-4">
                    <a href="#" class="title">
                        <span>Shop</span>
                    </a>
                </div>
                <div class="div">
                    <a href="#" class="title">
                        <span>New</span>
                    </a>
                </div>
                <div class="text-wrapper-2">
                    <div class="dropdown-about-us">
                        <a href="#" class="title">
                            <span>About us</span>
                        </a>
                        <div class="dropdown-content-about-us" id="dropdown-about-us">
                            <div>
                                <a href="#" class="content">
                                    Contact us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-account">
                    <a href="#" class="icon" onclick="dropdownAccount()">
                        <img class="line-md-account" src="img/line-md-account.png" />
                    </a>
                    <div class="dropdown-content-account" id="dropdown-account">
                        <div class="infor">
                            <div class="avata">
                                <img src="img/avata.jpg" alt="" width="100" height="100" class="avata-customer">
                            </div>
                            <div class="customer-info">
                    <span class="customer-name">
                      Customer name
                    </span>
                                <span class="customer-email">
                      Customer email
                    </span>
                            </div>
                        </div>
                        <hr>
                        <div class="customer-list">
                            <a href="#" class="content-account">
                                Profile
                            </a>
                            <a href="#" class="content-account">
                                My order
                            </a>
                            <a href="#" class="content-account">
                                Wish list
                            </a>
                            <a href="#" class="content-account">
                                Log out
                            </a>
                        </div>
                    </div>
                </div>
                <a href=""><img class="ion-cart-outline" src="img/ion-cart-outline.png" /></a>
                <!-- language -->
                <div class="overlap">
                    <div class="dropdown-laguage">
                        <a href="#" onclick="dropdownLanguage()">
                            <img class="flag-um" src="img/flag-um-4x3.png" />
                        </a>
                        <div class="dropdown-content-laguage" id="myDropdown">
                            <div>
                                <a href="#" class="link-with-image">
                                    <img src="/img/flag-um-4x3.png" alt="English" />
                                </a>
                                <a href="#" class="link-with-image">
                                    <img src="img/flag_vn-4x3.png" alt="Vietnamese" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        </div>
    </div>
</div>
</html>