<!DOCTYPE html>
<html lang="en">
<div class="header">
    <div class="home-after-login-child-header"></div>
    <div class="stranger-bookstore"><a href="" class="stranger-title">Stranger Bookstore</a></div>
    <a href=""><img class="header-child" alt="" src="/public/ellipse-1@2x.png" /></a>

    <div class="news3"><a th:href="@{/new}" class="title">News</a></div>
    <div class="about-us3" id="aboutUsText1">
        <div class="dropdown-about-us">
            <a th:href="@{/aboutus/about}" class="title">
                <span>About us</span>
            </a>
            <div class="dropdown-content-about-us" id="dropdown-about-us">
                <div>
                    <a th:href="@{/aboutus/contact}" class="content">
                        Contact us
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="home1"><a href="" class="title">Home</a></div>
    <div class="shop1" id="shopText1"><a href="" class="title">Shop</a></div>
    <a href="#" class="login">
        Login
    </a>
    <!-- <div class="dropdown-account">
      <a href="#" class="icon" onclick="dropdownAccount()">
        <img class="line-md-account" src="./public/linemdaccount.svg" />
      </a>
      <div class="dropdown-content-account" id="dropdown-account">
        <div class="infor-customer">
          <div class="avata">
            <img src="img/avata.jpg" alt="" width="100" height="100" class="avata-customer">
          </div>
          <div class="customer-info">
            <span class="customer-name">
              Customer name
            </span>
            <span class="customer-email">
              Customer email
            </span>
          </div>
        </div>
        <hr>
        <div class="customer-list">
          <a href="#" class="content-account">
            Profile
          </a>
          <a href="#" class="content-account">
            My order
          </a>
          <a href="#" class="content-account">
            Wish list
          </a>
          <a href="#" class="content-account">
            Log out
          </a>
        </div>
      </div>
    </div>

    <a href=""><img
      class="ioncart-outline-icon"
      alt=""
      src="./public/ioncartoutline.svg"
    /></a> -->

    <div class="header-item">
        <div class="dropdown-laguage">
            <a href="#" onclick="dropdownLanguage()">
                <img class="flag-um" src="/public/flagum4x3.svg" />
            </a>
            <div class="dropdown-content-laguage" id="myDropdown">
                <div>
                    <a href="#" class="link-with-image-english">
                        <img src="/public/flagum4x3.svg" alt="English" />
                    </a>
                    <a href="#" class="link-with-image">
                        <img src="/public/flagum4x3.svg" alt="Vietnamese" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>