
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/fontawesome-free-6.4.2-web/css/all.min.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/ProDetail.css">
    <th:block th:replace="~{User-view/style/user-css :: html}"></th:block>
    
    
</head>
<body style="background-color: #4B3029;">
    <style>
        .b3:hover{
            background-color: #878684;
        }
    </style>
    <div th:replace="~{User-view/fragment/header.html :: div}"></div>
    <div class="container" style="height: 150px; background-color:#4B3029 " ></div>
    <div class="container mt-5" style="background-color: #4B3029; border-radius: 5px; height: auto;">
       <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-1">
                            <img  style="width: 85px; height: 80px; border-radius: 50%;" th:src="@{|/img/avata.jpg|}" alt="">
                        </div>
                        <div class="col-sm-3" style="width: 270px; margin-left: 70px; margin-top: 25px;">
                            <span style="color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Customer full name</span>
                        </div>
                        <hr style="background-color: #dbd5c6; height: 3px; width: 260px;" class="mt-3">
                        
                          <a class="b3" th:href="@{/personal}" style=" width: 250px; height: 40px; padding: 7px; text-decoration: none; color: #dbd5c6; border-radius: 5px; font-family: Kanit-Regular, Helvetica" >
                            Personal information
                        </a>
                        <a class="b3" th:href="@{/address}" style="background-color: #878684;width: 250px; height: 40px; padding: 7px; text-decoration: none; color: #dbd5c6; border-radius: 5px;font-family: Kanit-Regular, Helvetica" >
                            Address information
                        </a>
                        <a class="b3" th:href="@{/wishlist}" style="width: 250px; height: 40px; padding: 7px; text-decoration: none; color: #dbd5c6; border-radius: 5px;font-family: Kanit-Regular, Helvetica" >
                            My wish list
                        </a>
                    </div>
                </div>

                <div class="col-sm-8" style="background-color: #dbd5c6; border-radius: 5px; height: auto; margin-top: 80px;">
                    <div class="row">
                        <div class="col-sm-5" style="width: 70%;">
                            <div class="mt-4 ms-3">
                                <div style="color: #4B3029;font-family: Kanit-Regular, Helvetica"><Strong>RECIPIENT'S FULL NAME 1</Strong></div>
                                <div class="mt-3" style="color: #4B3029;">
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Detail: Address Detail 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Recipient's Phone number: Recipient's Phone number 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Type: Home</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mt-4">
                                <div class="mt-4">
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a th:href="@{/address/add}" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Edit</a></button>
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a href="" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Delete</a></button>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 95%; height: 2px;" class="ms-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-5" style="width: 70%;">
                            <div class="mt-4 ms-3">
                                <div style="color: #4B3029;font-family: Kanit-Regular, Helvetica"><Strong>RECIPIENT'S FULL NAME 1</Strong></div>
                                <div class="mt-3" style="color: #4B3029;">
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Detail: Address Detail 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Recipient's Phone number: Recipient's Phone number 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Type: Home</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mt-4">
                                <div class="mt-4">
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a th:href="@{/address/add}" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Edit</a></button>
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a href="" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Delete</a></button>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 95%; height: 2px;" class="ms-3">
                    </div>
                    <div class="row">
                        <div class="col-sm-5" style="width: 70%;">
                            <div class="mt-4 ms-3">
                                <div style="color: #4B3029;font-family: Kanit-Regular, Helvetica"><Strong>RECIPIENT'S FULL NAME 1</Strong></div>
                                <div class="mt-3" style="color: #4B3029;">
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Detail: Address Detail 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Recipient's Phone number: Recipient's Phone number 1</p>
                                    <p style="font-family:  Kanit-Regular, Helvetica">Address Type: Home</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="mt-4">
                                <div class="mt-4">
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a th:href="@{/address/add}" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Edit</a></button>
                                    <button style="width: 80px; height: 30px; color: #dbd5c6; background-color: #4B3029; border: none; border-radius: 5px;">
                                        <a href="" style="text-decoration: none; color: #dbd5c6; font-family: Kanit-Regular, Helvetica">Delete</a></button>
                                </div>
                            </div>
                        </div>
                        <hr style="width: 95%; height: 2px;" class="ms-3">
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <button style="width: 250px; height: 70px; border: none; border-radius: 5px; background-color: #4B3029; color: #dbd5c6; font-size: 19px;" >
                                <Strong><a th:href="@{/address/add}" style="text-decoration: none; color: #dbd5c6;font-family: Kanit-Regular, Helvetica">Add Other Address</a></Strong></button>
                        </div>
                        <div class="col-sm-4"></div>
                        <div style="height: 20px;"></div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div th:replace="~{User-view/fragment/footer.html :: div}"></div>
    <th:block th:replace="~{User-view/style/user-scr :: html}"></th:block>
</body>
</html>