<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2">
  <div class="logo">
    <a href="#!dashboard">
      <img src="/images/icon/logoDark_new2.png" alt="Stranger Bookstore" />
    </a>
  </div>
  <div class="menu-sidebar2__content js-scrollbar1">
    <div class="account2">
      <div class="image img-cir img-120">
        <img src="/images/icon/user-icon.jpg" alt="Avatar" />
      </div>
      <h4 class="name">Admin Name</h4>
      <a href="#">Sign out</a>
    </div>
    <nav class="navbar-sidebar2">
      <ul class="list-unstyled navbar__list">
        <li>
          <a href="#!dashboard">
            <i class="fas fa-tachometer-alt"></i>Dashboard</a>
        </li>
        <li class="active has-sub">
          <a class="js-arrow" href="#">
            <i class="fas fa-table"></i>Table
            <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
          </a>
          <ul class="list-unstyled navbar__sub-list js-sub-list">
            <li>
              <a href="#!product">
                <i class="fas fa-th-large"></i>Products</a>
            </li>
            <li>
              <a href="#!categories">
                <i class="fas fa-th-large"></i>Categories</a>
            </li>
            <li>
              <a href="#!customer">
                <i class="far fa-id-card"></i>Customer</a>
            </li>
            <li>
              <a href="#!order">
                <i class="fas fa-shopping-basket"></i>Order</a>
            </li>
            <li>
              <a href="#!orderDetail">
                <i class="far fa-window-restore"></i>Order detail</a>
            </li>
            <li>
              <a href="#!news">
                <i class="fas fa-desktop"></i>News</a>
            </li>
            <li>
              <a href="#!pictureProduct">
                <i class="far fa-window-maximize"></i>Picture product</a>
            </li>
            <li>
              <a href="#!shipInformation">
                <i class="fas fa-map-marker-alt"></i>Ship information</a>
            </li>
            <li>
              <a href="#!contact">
                <i class="fas fa-comment-alt"></i>Message contact</a>
            </li>
            <li>
              <a href="#!reviews">
                <i class="fas fa-tasks"></i>Product reviews</a>
            </li>
            <li>
              <a href="#!reviews">
                <i class="fas fa-chart-bar"></i>Report</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
<!-- END MENU SIDEBAR-->

</html>