.check-out-child {
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-lightgray);
  width: 100%;
  height: 550px;
  display: block;
}
.check-out1 {
  font-size: 30px;
  color: var(--color-dimgray);
  height: 300px;
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.check-out-inner,
.check-out-item {
  border-radius: 10px;
  background-color: var(--color-lightgray);
  width: 90%;
  height: max-content;
  margin: 50px 30px 30px 50px;
  padding-bottom: 20px;
}
.check-out-inner {
  border-radius: 10px;
  width: 80%;
  height: max-content;
  margin: 30px 0 0 0;
  padding: 0px;
}
.total-amount-order{
    font-size: 25px;
    color: var(--color-dimgray);
    margin: 30px 50px 50px 30px;
}
.amount-price-order{
    text-align: right;
}
.check-out-child1 {
  border-radius: 10px;
  background-color: var(--color-lightgray);
  width: 80%;
  height: max-content;
  padding-bottom: 20px;
}
.address-payment-order{
    margin-top: 50px;
}
.my-order{
    font-size: 25px;
    margin-left: 30px;
}
.infor-product-order{
    margin-left: 30px;
    margin-top: 30px;
}
.pic-order{
    width: fit-content;
    height: fit-content;
    padding: 0px;
}
.pic-order img{
    width: 100px;
    height: 150px;
}
.name-order,
.price,
.total{
    font-size: 25px;
    margin: 0px;
    text-align: center;
}
.name-order{
    text-align: left;
}
.qty-order{
    font-size: 15px;
    margin: 0px;
}
.hr-order{
    color: var(--color-dimgray);
    margin: 50px 0px;
    width: 90%;
}
.btn-order,
.btn-change{
    color: var(--color-lightgray);
    background: var(--color-dimgray);
    padding: 20px 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    width: max-content;
    text-decoration: none;
    border-radius: 10px;
}
.btn-change{
    font-size: 20px;
    padding: 15px 35px;
}
.address-body{
    font-size: 20px;
    margin: 0px 30px ;
}
.recipient-name{
    font-weight: 500;
    margin-bottom: 0;
}
.address-detail{
    text-align: justify;
    word-break: break-all;
}
.payment-body{
    margin-left: 30px;
    padding-bottom: 30px;
    display: block;
}
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  line-height: 24px;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-container input:checked ~ .checkmark {
  border: 1px solid var(--color-dimgray);
  background: var(--color-dimgray);
}
.radio-container input:checked ~ .checkmark:before {
  display: block;
}
.radio-container input[disabled] ~ .checkmark {
  background: var(--color-dimgray);
  border: none;
  cursor: not-allowed;
}
.radio-container .checkmark {
  position: absolute;
  top: 3.5px;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-dimgray);
  border-radius: 50%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}
.radio-container .checkmark:before {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid var(--color-lightgray);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.radio-container:hover input ~ .checkmark {
  border-color: var(--color-dimgray);
}
/*Modal*/
.plans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  justify-content: space-between;
  max-width: 100%;
  padding: 50px 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--color-lightgray);
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 10px 0px var(--color-dimgray);
  box-shadow: 0px 8px 10px 0px var(--color-dimgray);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.plans .plan input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.plans .plan {
  cursor: pointer;
  width: 100%;
  margin: 20px 0px;
}

.plans .plan .plan-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid var(--color-dimgray);
  border-radius: 10px;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  background: var(--color-lightgray);
  position: relative;
}
.plans .plan .plan-details span {
  margin-bottom: 10px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-dimgray);
}
.plans .plan .plan-details p {
  color: var(--color-dimgray);
  font-size: 17px;
  line-height: 18px;
}
.plans .plan .plan-content:hover {
  -webkit-box-shadow: 0px 3px 5px 0px var(--color-dimgray);
  box-shadow: 0px 3px 5px 0px var(--color-dimgray);
}
.plans .plan input[type="radio"]:checked + .plan-content:after {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  background: var(--color-lightgray);
  right: 20px;
  top: 20px;
  border-radius: 100%;
  border: 3px solid var(--color-dimgray);
  -webkit-box-shadow: 0px 0px 0px 2px var(--color-lightgray);
  box-shadow: 0px 0px 0px 2px var(--color-lightgray);
}
.plans .plan input[type="radio"]:checked + .plan-content {
  border: 2px solid var(--color-dimgray);
  background: var(--color-dimgray);
  color: var(--color-lightgray);
  -webkit-transition: ease-in 0.3s;
  -o-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
.plans .plan input[type="radio"]:checked + .plan-content .plan-details span,
.plans .plan input[type="radio"]:checked + .plan-content .plan-details p{
  color: var(--color-lightgray);
}
@media screen and (max-width: 991px) {
  .plans {
    margin: 0 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 40px;
  }
  .plans .plan {
    width: 100%;
  }
  .plan.complete-plan {
    margin-top: 20px;
  }
  .plans .plan .plan-content .plan-details {
    width: 70%;
    display: inline-block;
  }
  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 45%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@media screen and (max-width: 767px) {
  .plans .plan .plan-content .plan-details {
    width: 60%;
    display: inline-block;
  }
}
@media screen and (max-width: 540px) {
  .plans .plan .plan-content img {
    margin-bottom: 20px;
    height: 56px;
    -webkit-transition: height 0.4s;
    -o-transition: height 0.4s;
    transition: height 0.4s;
  }
  .plans .plan input[type="radio"]:checked + .plan-content:after {
    top: 20px;
    right: 10px;
  }
  .plans .plan .plan-content .plan-details {
    width: 100%;
  }
  .plans .plan .plan-content {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }
}
.modal-content{
    background: var(--color-dimgray);
}
.modal-header h1{
    color: var(--color-lightgray);
    font-size: 30px;
}
.fa.fa-close{
    width: 25px;
    height: 25px;
    color: var(--color-lightgray);
}
.btn-save{
    text-align: left;
    font-size: 20px;
    background: var(--color-lightgray);
    color: var(--color-dimgray);
}
.btn-save:hover{
    text-align: left;
    font-size: 20px;
    background: var(--color-tan);
    color: var(--color-lightgray);
}
.check-out {
  position: relative;
  background-color: var(--color-dimgray);
  width: 100%;
  height: max-content;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray);
  font-family: var(--font-kanit);
}