.sign-up-child {
  /* margin: auto; */
  background-color: var(--color-gray-300);
  width: fit-content;
  height: fit-content;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin: 50px 0;
}
.error{
  color: red;
  font-size: 15px;
  font-family: var(--font-kanit);
}
.email-confirm {
  padding: 15px 31px 15px 31px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  font-size: 20px;
  border-color: transparent;
  font-family: var(--font-kanit);
}
.email-confirm:focus{
  outline: none;
}
.sign-up-for {
  color: var(--color-lightgray);
  text-align: center;
  font-size: 25px;
}
.sign-up-item {
  width: 200px;
  height: 90px;
  object-fit: cover;
  margin: 0 auto;
}
.welcome-to-stranger {
  font-size: var(--font-size-11xl);
  color: var(--color-lightgray);
  width: fit-content;
  margin: 0 auto;
}
.rectangle-parent8,
.rectangle-parent9,
.rectangle-parent10,
.rectangle-parent11,
.rectangle-parent12,
.rectangle-parent13{
  width: 700px;
  height: 100%;
}
.input-form-sign-up{
    padding-bottom: 30px;
}
.rectangle-parent12,
.rectangle-parent13{
    position: relative;
    display: flex;
}
.formkitdate-icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
  cursor: pointer;
}
.sign-up-inner {
  border-radius: var(--br-xl);
  width: 222px;
  height: 70px;
  cursor: pointer;
}
.sign-up3 {
  padding: 8px 40px;
  background-color: var(--color-tan);
  color: var(--color-dimgray);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  text-decoration: none;
  width: fit-content;
  transition: 0.3s;
  margin: 0 auto;
}
.sign-up3:hover {
  color: var(--color-lightgray);
  background-color: var(--color-dimgray-100);
}
.mingcutedown-line-icon {
  width: 36px;
  height: 36px;
  overflow: hidden;
  cursor: pointer;
}
.sign-up2 {
  background-color: var(--color-dimgray-100);
  width: 100%;
  height: fit-content;
  overflow: hidden;
  font-size: var(--font-size-11xl);
  color: var(--color-gray-200);
  font-family: var(--font-kanit);
  display: grid;
  align-items: center;
  justify-content: center;
}

.group-child1 {
  border-radius: 10px;
  background-color: var(--color-white);
  text-align: center;
  padding: 10px 212px;
  text-decoration: none;
}
.group-child1:hover {
  background-color: var(--color-tan);
  span{
    color: var(--color-lightgray);
  }
}
.rectangle-parent2 {
  width: max-content;
  height: max-content;
  text-align: center;
  margin: 30px 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
.devicongoogle1 {
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-right: 10px;
}
.rectangle-parent3 {
  width: 838px;
  height: 79px;
  text-align: center;
}
.sign-in-with3,
.sign-in-with2 {
  font-size: 25px;
  color: var(--color-dimgray);
}
.fluenteye-16-filled-icon2 {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}
.sign-up-form{
    display: grid;
    align-items: center;
    justify-content: center;
}
.line-div1 {
  border-top: 2px solid var(--color-tan);
  box-sizing: border-box;
  width: 700px;
  height: 2px;
}