.sign-in-test-sign-in-with-goo-child1,
.sign-in-test-sign-in-with-goo-child11{
  background-color: var(--color-gray-300);
  width: fit-content;
  height: fit-content;
  padding: 50px;
  margin: 51.5px 0;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
}
.sign-in-test-sign-in-with-goo-child11{
    margin: 164.5px 0;
}
.sign-in-to1 {
  color: var(--color-lightgray);
  font-size: 25px;
}
.sign-in-test-sign-in-with-goo-child2 {
  width: 200px;
  height: 90px;
  object-fit: cover;
}
.welcome-back1 {
  font-size: var(--font-size-11xl);
  color: var(--color-lightgray);
}
.group-child1 {
  border-radius: 10px;
  background-color: var(--color-white);
  padding: 5px 222px;
  text-decoration: none;
}
.group-child1:hover {
  background-color: var(--color-tan);
  span{
    color: var(--color-dimgray);
  }
}
.email1,
.password1 {
  padding: 15px 60px 15px 31px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 700px;
  font-size: 20px;
  border-color: transparent;
  font-family: var(--font-kanit);
}
.password1:focus,
.email1:focus{
  outline: none;
}
.rectangle-parent1 {
  height: max-content;
  color: var(--color-gray-200);
  padding: 15px;
}
.sign-in-with3,
.sign-in-with2 {
  font-size: 25px;
  text-decoration: none;
  color: var(--color-dimgray);
}
.rectangle-parent2 {
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}
.devicongoogle1 {
  width: 35px;
  height: 35px;
  overflow: hidden;
  margin-right: 10px;
}
.rectangle-parent3 {
  width: 838px;
  height: 79px;
  text-align: center;
}
.fluenteye-16-filled-icon1{
  width: 35px;
  height: 35px;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 15px;
}
.rectangle-parent4 {
  height: max-content;
  color: var(--color-gray-200);
  position: relative;
}
.group-child5 {
  border-radius: var(--br-xl);
  width: 222px;
  height: 70px;
}
.login1 {
  padding: 8px 40px;
  background-color: var(--color-tan);
  color: var(--color-dimgray);
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  text-decoration: none;
  transition: 0.3s;
}
.login1:hover {
  transform: scale(1.05);
  color: var(--color-lightgray);
  background-color: var(--color-dimgray-100);
}
.vector-group {
    margin: 20px 0;
}
.forget-your-password1 {
  font-size: 25px;
  color: var(--color-gainsboro);
  text-decoration: none;
  text-align: center;
}
.forget-your-password1:hover,
.sign-up1:hover{
  color: var(--color-tan);
}
.dont-have-an1,
.sign-up1 {
  font-size: 25px;
}
.sign-up1 {
  text-decoration: none;
  color: var(--color-gainsboro);
  margin-left: 5px;
}
.forget-your-password-group {
  width: 100%;
  height: max-content;
  color: var(--color-white);
  display: grid;
  align-items: center;
  justify-content: center;
}
.line-div1 {
  border-top: 2px solid var(--color-tan);
  box-sizing: border-box;
  width: 95%;
  height: 2px;
}
.form-login{
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.sign-in-test-sign-in-with-goo1 {
  background-color: var(--color-dimgray-100);
  width: 100%;
  height: max-content;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-kanit);
  display: grid;
  align-items: center;
  justify-content: center;
}
.error{
  color: red;
  font-size: 20px;
  font-family: var(--font-kanit);
  display: none;
}
