.footer-child,
.footer-item {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-black);
  width: 100%;
  height: 400px;
}
.footer-item {
  bottom: 0;
  left: 0;
  background-color: var(--color-lightgray);
  width: 100%;
  height: 37px;
}
.district-ho-chi {
  font-size: 18px;
  width: 320px;
  margin: 0;
}
.district-ho-chi-container {
  position: absolute;
  top: 200px;
  left: 1187px;
}
.bn-quyn-thuc,
.information-of-website {
  position: absolute;
  top: 135px;
  left: 40px;
  font-size: 18px;
  text-align: justify;
  width: 500px;
}
.more-about-footer{
  text-decoration: none;
  color: var(--color-lightgray);
  font-size: 15px;
}
.more-about-footer:hover{
  color: var(--color-tan);

}
.more-about-footer{
  text-decoration: none;
  color: var(--color-lightgray);
  font-size: 15px;
}
.bn-quyn-thuc {
  top: 5px;
  left: 605px;
  font-size: 18px;
  color: var(--color-black);
}
.news {
  position: absolute;
  top: 188px;
  left: 760px;
  text-decoration: none;
  color: var(--color-lightgray);
  font-size: 18px;
}
.about-us,
.quick-links {
  position: absolute;
  top: 63px;
  left: 40px;
  font-size: 30px;
  text-decoration: none;
  color: var(--color-lightgray);
}
.quick-links {
  left: 760px;
}
.career,
.shop {
  position: absolute;
  top: 305px;
  left: 760px;
  text-decoration: none;
  color: var(--color-lightgray);
  font-size: 18px;
}
.shop {
  top: 160px;
  left: 760px;
}
.div,
.home {
  position: absolute;
  top: 135px;
  left: 760px;
  text-decoration: none;
  color: var(--color-lightgray);
  font-size: 18px;
}
.div{
  left: 1187px;
  font-size: 18px;
}
.strangerbookgmailcom {
  position: absolute;
  top: 168px;
  left: 1187px;
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}
.icbaseline-facebook-icon {
  position: absolute;
  bottom: 80px;
  left: 40px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.icbaseline-tiktok-icon {
  position: absolute;
  bottom: 80px;
  left: 120px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bic-circle-icon,
.material-symbolsmail-outline-icon,
.mdiinstagram-icon {
  position: absolute;
  bottom: 80px;
  left: 82px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.bic-circle-icon,
.material-symbolsmail-outline-icon {
  top: 170px;
  left: 1148px;
}
.bic-circle-icon {
  top: 12px;
  left: 579px;
  width: 15px;
  height: 15px;
}
.footer-inner {
  position: absolute;
  top: 120px;
  left: 40px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 148px;
  height: 1px;
}
.contact-infor {
  position: absolute;
  top: 63px;
  left: 1148px;
  font-size: 30px;
}
.footer-child1,
.line-div {
  position: absolute;
  top: 120px;
  left: 1148px;
  border-top: 1px solid var(--color-lightgray);
  box-sizing: border-box;
  width: 148px;
  height: 1px;
}
.footer-child1 {
  left: 760px;
}
.mdiaddress-marker-icon,
.phphone-light-icon {
  position: absolute;
  top: 138px;
  left: 1148px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.mdiaddress-marker-icon {
  top: 202px;
}
.footer {
  width: 100%;
  height: 400px;
  text-align: left;
  color: var(--color-lightgray);
  display: block;
  margin-top: 30px;
}
.news-list-content{
    width: max-content;
    height: max-content;
}
.news2 {
  font-size: 30px;
  color: var(--color-white);
  margin-bottom: 30px;
}
/* CSS */
.news-child {
  display: inline-block;
}

.news-child a {
  text-decoration: none;
}

.news-child img {
  width: 350px;
  height: 300px;
  transition: opacity 0.3s; /* Tạo hiệu ứng mờ mịn khi hover */
}

.news-child .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu nền đen với độ mờ */
  color: white;
  text-align: center;
  opacity: 0; /* Ban đầu ẩn overlay */
  transition: opacity 0.3s; /* Tạo hiệu ứng hiển thị khi hover */
}

.news-child:hover img {
  opacity: 0.5; /* Khi hover, làm mờ ảnh */
}

.news-child:hover .overlay {
  opacity: 1; /* Khi hover, hiển thị overlay */
}

.news-child .title {
}
.news1 {
  width: 100%;
  height: max-content;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}
.about-us-child {
  background-color: var(--color-lightgray);
  width: 1300px;
  height: max-content;
  border-radius: 10px;
}
.information-of-website1 p{
    text-align: justify;
    font-size: 20px;
    width: 450px;
}
.about-us2 {
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: max-content;
  padding: 30px 0px;
}
.about-us-item {
  border-radius: 25px;
  width: 200px;
  height: 60px;
  font-size: 20px;
  background-color: var(--color-tan);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimgray);
  text-decoration: none;
  transition: 0.3s;
  margin: 50px 0px 50px 0px;
}
.about-us-item:hover{
  transition: 0.3s;
  background-color: var(--color-dimgray);
  color: var(--color-lightgray);
}
.show-more {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 31px;
}
.about-us-inner {
  background-color: var(--color-dimgray);
  width: 500px;
  height: 400px;
}
.about-us-inner img{
    width: 100%;
    height:100%;
}
.infor-about{
    padding: 0px 0px 60px 0px;
}
.about-for-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-summary{
    display: grid;
    align-items: center;
    margin-top: 50px;
}
.about-us1 {
  width: 100%;
  height: max-content;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.the-best-seller {
  font-size: 30px;
  margin-top: 30px;
}
.best-seller-child,
.name-of-book{
  width: 270px;
  height: 430px;
  overflow: hidden;
  display: block;
 }
.best-seller-child img{
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.best-seller-child:hover img{
  height: 100%;
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.book-seller{
    display: grid;
    align-items: center;
    justify-content: center;
    width: max-content;
    margin: 0px 25px;
}
.seller-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.name-of-book {
  margin: 20px 0px;
  color: var(--color-lightgray);
  text-decoration: none;
  height: max-content;
  display: block;
}
.best-seller {
  width: 100%;
  height: max-content;
  color: var(--color-white);
  display: block;
}

.home-after-login-child {
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-lightgray);
  width: 100%;
  height: 780px;
  display: block;
}
.home-after-login-child-header {
  border-radius: 0 0 var(--br-11xl) var(--br-11xl);
  background-color: var(--color-lightgray);
  width: 100%;
  height: 135px;
}
.description-of-stranger {
  font-weight: 200;
  font-size: 25px;
}
.description-of-stranger p{
    font-size: 20px;
    text-align: justify;
    width: 533px;
    margin: 20px 0px 40px 0px;
}
.infor-child,
.infor-item {
  position: absolute;
  top: 106px;
  left: 1031px;
  background-color: var(--color-gainsboro);
  width: 230px;
  height: 450px;
}
.infor-item {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.infor-child1,
.infor-inner {
  position: absolute;
  top: 46px;
  left: 826px;
  background-color: var(--color-gainsboro);
  width: 320px;
  height: 550px;
}
.infor-child1 {
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.infor-child2 {
  position: relative;
  width: 350px;
  height: 520px;
  background-color: var(--color-gainsboro);
}
.infor-child2 img {
  width: 350px;
  height: 520px;
}
.welcome-to-stranger {
  font-size: 40px;
  text-align: left;
  width: 358px;
  font-weight: 400;
}
.rectangle-icon {
  border-radius: 20px;
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  background-color: var(--color-tan);
  color: var(--color-dimgray);
  border: 1px var(--color-black);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.rectangle-icon:hover{
  transition: 0.3s;
  background-color: var(--color-dimgray);
  color: var(--color-lightgray);
}
.welcome-infor,
.intro-book{
    justify-content: center;
    text-align: left;
    display: flex;
    align-items: center;
}
.infor {

  width: 100%;
  height: 626px;
}
.header-child,
.stranger-bookstore .stranger-title{
  position: absolute;
  top: 53px;
  left: 105px;
  font-size: 20px;
  color: var(--color-dimgray);
  text-decoration: none;
}
.header-child {
  top: 20px;
  left: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.news3 {
  left: 623px;
  cursor: pointer;
}
.about-us3,
.home1,
.news3,
.shop1 {
  position: absolute;
  top: 53px;
}
.about-us3 {
  left: 895px;
  cursor: pointer;
}
.home1 {
  left: 480px;
  cursor: pointer;
}
.shop1 {
  left: 760px;
  cursor: pointer;
}
.about-us3 a.title,
.news3 a.title,
.shop1 a.title,
.home1 a.title{
  padding: 55px 45px;
  color: var(--color-dimgray);
  text-decoration: none;
}
.about-us3 a.title:hover,
.news3 a.title:hover,
.shop1 a.title:hover,
.home1 a.title:hover{
  padding: 55px 45px;
  background-color: var(--color-dimgray);
  color: var(--color-lightgray);
}
/* dropdown About us */

/* Ẩn dropdown content mặc định */
.dropdown-about-us .dropdown-content-about-us {
  display: none;
  position: absolute;
  background-color: var(--color-dimgray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid var(--color-lightgray);
  z-index: 1;
  top: 73px;
  border-radius: 10px;
}

/* Hiển thị dropdown content khi hover vào dropdown */
.dropdown-about-us:hover .dropdown-content-about-us {
  display: block;
}

/* Tạo hiệu ứng hover cho các mục trong dropdown */
.dropdown-content-about-us > div:hover {
  background-color: var(--color-dimgray);
}

/* Định dạng cho các thẻ <a> trong dropdown content */
.dropdown-content-about-us a {
  text-decoration: none;
  color: var(--color-lightgray);
  display: block;
  padding: 5px 15px;
  width: 200px;
  border-radius: 6px;
  background-color: var(--color-dimgray);
}

/* Hiệu ứng hover cho các thẻ <a> trong dropdown content */
.dropdown-content-about-us a:hover {
  background-color: var(--color-lightgray);
  color: var(--color-dimgray);
}
.ioncart-outline-icon {
  position: absolute;
  top: 52px;
  left: 1275px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.header-item {
  position: absolute;
  top: 45px;
  left: 1416px;
  border-radius: var(--br-5xs);
  background-color: var(--color-tan);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 70px;
  height: 45px;
}
.header {
  width: 100%;
  height: 150px;
  text-align: left;
  font-size: var(--font-size-xl);
  display: block;
}
.home-after-login {
  position: relative;
  background-color: var(--color-dimgray);
  width: 100%;
  height: max-content;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-kanit);
  display: block;
}
/* dropdown language */
.dropdown-laguage{
  position: absolute;
  top: 6px;
  left: 12px;
}
/* Ẩn dropdown content mặc định */
.dropdown-laguage .dropdown-content-laguage {
  display: none;
  position: absolute;
  background-color: var(--color-dimgray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid var(--color-lightgray);
  z-index: 1;
  left: -22px;
  top: 42px;
  border-radius: 10px;
}


/* Định dạng cho các thẻ <a> trong dropdown content */
.dropdown-content-laguage a {
  text-decoration: none;
  color: #333;
  width: 50px;
  height: 40px;
  display: block;
  padding: 5px 6px;
}


/* Hiệu ứng hover cho các thẻ <a> trong dropdown content */
.dropdown-content-laguage a:hover {
  /* border-top-right-radius: 5px;
  border-top-left-radius: 5px; */
  border-radius: 5px;
  background-color: var(--color-tan);
  color: var(--color-dimgray);
}

/* dropdown account */
.dropdown-account{
  position: absolute;
  top: 51px;
  left: 1350px;
}
/* Ẩn dropdown content mặc định */
.dropdown-account .dropdown-content-account {
  display: none;
  position: absolute;
  background-color: var(--color-dimgray);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border: 1px solid var(--color-lightgray);
  z-index: 1;
  right: 5px;
  top: 40px;
  border-radius: 10px;
}


/* Định dạng cho các thẻ <a> trong dropdown content */
.dropdown-content-account a {
  text-decoration: none;
  color: var(--color-lightgray);
  width: 350px;
  display: block;
  padding: 5px 6px;
}


/* Hiệu ứng hover cho các thẻ <a> trong dropdown content */
.dropdown-content-account a:hover {
  border-radius: 5px;
  background-color: var(--color-lightgray);
  color: var(--color-dimgray);
}

.infor-customer {
  display: flex;
  align-items: center;
  width: 350px;
}

.avata {
  width: 70px; /* Kích thước hình tròn */
  height: 70px; /* Kích thước hình tròn */
  border-radius: 50%; /* Biến hình thành hình tròn */
  overflow: hidden; /* Ẩn phần ngoài hình tròn */
  margin-right: 20px; /* Khoảng cách giữa hình ảnh và thông tin */
}

.avata img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Đảm bảo hình ảnh nằm trong hình tròn */
}

.customer-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Để dàn trải dọc theo trục Y */
}

.customer-name,
.customer-email {
  color: var(--color-lightgray);
  margin: 5px 0; /* Khoảng cách giữa hai dòng thông tin */
}

.customer-name{
  font-weight: bold;
  font-size: 25px;
}

hr{
  background-color: var(--color-lightgray);
  color: var(--color-lightgray);
}

/* button Login */
.login{
  position: absolute;
  top: 45px;
  left: 1300px;
  width: 90px;
  height: 45px;
  background-color: var(--color-tan);
  border-radius: 8px;
  box-shadow: 0px 4px 4px #00000040;
  color: var(--color-dimgray);
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login:hover{
  background-color: var(--color-dimgray);
  color: var(--color-lightgray);
}

/* Định dạng các div chứa nội dung */
.book-introduce, .book-introduce1, .book-introduce2 {
    position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}

